@charset "utf8";
@font-face {
    font-family: 'idroid';
    src: url('assets/fontes/idroid.otf') format('opentype');
}

body {
    background-color: rgb(132,225,173);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: black;
    margin: 0px;
}

h1 {
    font-size: 2em;
}

p {
    text-align: justify;
    text-indent: 20px;
    padding: 0px 10px;
}

header {
    background-image: linear-gradient(to bottom, rgb(61,218,132), rgb(26,92,55));
    color: white;
    padding: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.452);
}

nav {
    background-color: rgb(26,92,56);
}

nav > a:hover {
    background-color: rgb(46, 107, 73);
    color: rgb(26,92,56);
    border-radius: 3px;
    padding: 5px;
    transition-duration: .4s;
}
.centrado {
    text-align: center;
}

.menu {
    text-align: left;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.menu:hover {
    color: rgb(221, 221, 221);
}

main {
    width: 820px;
    
    margin: auto;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.288); 
    background-color: white;
    border-radius: 0px 0px 10px 10px ;
}
    
section{
    padding: 10px;
}

section#sess-video {
    padding: 0px;
    margin: 0px;
    border: 30px solid rgb(26,92,56);
}

main > article > aside {
    background-color: rgb(197,235,214);
    padding: 0px 0px 10px 0px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.288); 
}

main > article > aside > h3 {
    height: 20px;
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(47,168,102);
    color: #fff;
    padding: 10px;
}
footer > p{
    padding: 10px;
    margin-bottom: 0px;
    background-color: rgb(26,92,56);
    color: white;
    text-align: center;
}

.destaque {
    font-family: 'idroid';
    color: rgb(46, 107, 73);
}

.subtitulo {
    background-image: linear-gradient(30deg, rgb(204, 241, 220) 10%, rgb(250, 253, 251) 90%);
    padding: 10px;

}
ul {
    list-style-type: none;

}

div {
    display: inline;
}

li {
    display: inline;
    text-align: justify;
}

span {
    text-decoration: underline;
}
.esquerda {
    text-align: left;
}
.direita {

    text-align: justify;
    padding-left: 400px
}a

.centro {
    padding-left: 220px;
}